/* General Styles */
body {
    background-image: url('bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #79402a;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Login Form Styles */
  #login-form {
    background-image: url('IMG_20240907_165210.jpg');
    background-size: 1500px 700px;
    width: 100%;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .form-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
  }
  
  .hidden {
    display: none;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #636e72;
  }
  
  input, button {
    margin: 10px 0;
    padding: 12px;

    width: 100%;
    border-radius: 5px;
    border: 1px solid #dfe6e9;
    font-size: 16px;
  }

  
  button {
    background-color: #c95013;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;

    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #572019;
    transform: scale(1.05);
}

.backpage{
background-color:black;
height:70px;
width:300px;


}

button:active {
    background-color: #c95013;
    transform: scale(1);
}

/* Animation for button appearance */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    animation: fadeInUp 0.5s ease forwards;
}
  
  .options {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
  }
  
  .options2{
    display: flex;
    flex-direction: column;
    align-items: center

  }
  .option {
    margin: 0 30px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .option:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  /* Language Selector Button */
.language-selector {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #c95013;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.language-selector:hover {
  background-color: #572019;
  transform: scale(1.05);
}

.language-selector:active {
  background-color: #c95013;
  transform: scale(1);
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


#previous-page-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#previous-page-button:hover {
  background-color: #0056b3;
}

  
  .option img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
